<footer>
  <div class="wrap">
    <div class="foot-grid">
      <div>
        <div class="foot-brand">
          <img src="assets/icon/jfs_logo_color_color.png" alt="Jakarta Film Summit">
        </div>
        <p>An annual gathering of producers, investors, and key figures in the Southeast 
          Asian film industry. Held in Jakarta.</p>
      </div>
      <div>
        <h5>Navigasi</h5>
        <div class="flinks">
          <a href="index.html">Beranda</a>
          <a href="about.html">About JFS</a>
          <a href="agenda.html">Agenda</a>
          <a href="partner.html">Partner</a>
          <a href="news.html">News & Media</a>
          <a href="registration.html">Registrasi</a>
        </div>
      </div>
      <div>
        <h5>Kontak</h5>
        <div class="flinks">
          <a href="mailto:info@jakartafilmsummit.id">event@jakartafilmsummit.com</a>
          <a href="tel:+622112345678">+62 21 1234 5678</a>
        </div>
      </div>
    </div>
    <div class="foot-bottom">
      <span>&copy; 2026 Jakarta Film Summit. All rights reserved.</span>
      <span>Jakarta Convention Center . 19 - 21 November 2026</span>
    </div>
  </div>
</footer>