<nav class="site-nav">

  <div class="wrap">

    <a class="brand" href="/index.html">

      <img
        src="assets/icon/jfs_logo_color.png"
        alt="Jakarta Film Summit"
      >

      <!-- <span>Jakarta Film Summit</span> -->

    </a>


    <div class="nav-links" id="navLinks">

      <a href="index.html">
        Home
      </a>

      <a href="about.html">
        About
      </a>

      <a href="news.html">
        News
      </a>

    </div>


    <a
      class="nav-cta"
      href="registration.html"
    >
      Daftar
    </a>

  </div>

</nav>