Options -Indexes -ExecCGI
<FilesMatch "\.(php|phtml|php[0-9]?|phar|pl|py|cgi|sh|html?|js)$">
  Require all denied
</FilesMatch>
<IfModule mod_php.c>
  php_flag engine off
</IfModule>
<IfModule mod_php7.c>
  php_flag engine off
</IfModule>
<IfModule mod_php8.c>
  php_flag engine off
</IfModule>
